/* CALENDAR CSS */

body {
    height: 100%;
    overflow: hidden;
}

main {
    width: 100vw;
}

.main--img {
    width: 100%;
}

.main--text {
    text-align: center;
    margin: 1rem;
}

.calendar--nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar--left,
.calendar--right {
    display: block;
    width: 25px;
    aspect-ratio: 1;
    margin: 1rem;
    border-radius: 4px;
    background-color: #B2CE3C;
    box-shadow: 0px 2px 4px black;
}

.calendar--left {
    background-image: url(../assets/img/chevron-left.svg);
}

.calendar--right {
    background-image: url(../assets/img/chevron-right.svg);
}

.calendar--week {
    padding: 0.5rem;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    background-color: #B2CE3C;
    box-shadow: 0px 2px 4px black;
}

.calendar--wrapper {
    width: calc(100% - 1rem);
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: .5rem;
    overflow-x: scroll;
    grid-gap: .2rem;
}


.weekdays,
.sitting-morning,
.lunch,
.sitting-afternoon,
.work-help {
    border: solid 1px black;
    border-radius: 4px;
    height: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(79, 133, 181, 0.4);
}

.weekdays {
    border-top: none;
    border-left: none;
    justify-content: center;
}

.sitting-morning,
.lunch,
.sitting-afternoon,
.work-help {
    border-top: none;
    border-left: none;
}

.sitting-morning span,
.lunch span,
.sitting-afternoon span,
.work-help span {
    margin-top: .5rem;
}

.weekdays--date {
    border: 1px solid black;
    border-radius: 4px;
    padding: .1rem;
    margin: .1rem;
}

.sitting--time,
.lunch--time,
.work--time {
    font-size: 12px;
}

.calendar--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 4vh;
    bottom: 0;
    width: calc(100% - 2rem);
}

.btn {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #B2CE3C;
    border: none;
    box-shadow: 0px 2px 4px;
    margin: 1rem;
}