/* INDEX css sheet */

@font-face {
    font-family: 'century-reg';
    src: url(../fonts/SansSerifFLF.otf);
}

@font-face {
    font-family: 'century-light';
    src: url(../fonts/SansSerifBookFLF.otf);
}

@font-face {
    font-family: 'century-bold';
    src: url(../fonts/SansSerifBldFLF.otf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'century-reg', Arial, Helvetica, sans-serif;
}

/* Header & Nav */

header {
    height: 7vh;
    width: 100%;
    background-color: #B2CE3C;
    position: relative;
}

.header--mobile {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 10px;
  }

.header--info {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.header--title {
    font-size: 24px;
    font-weight: 800;
}

.nav--mobile {
    background-image: url(../img/background-mobile-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav--logo {
    width: 60vw;
    height: auto;
    margin-top: 5rem;
}

.nav--bloc {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.nav--text,
.nav--text--bold {
    letter-spacing: 1px;
    margin: 0.5rem;
}

.nav--text--bold {
    font-family: 'century-bold', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav--lnks {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav--lnk {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: block;
}

.nav--lnks > li {
    width: calc(80% - 0.8rem);
    padding: 0.8rem 0.8rem 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu--arrow {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/chevron-right.svg);
}

.fader--mobile {
    background-color: grey;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
}

.hidden {
    display: none;
}
